/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Cairo";
  src:local("Cairo") , url(./assets/fonts/Cairo/Cairo-VariableFont_slnt,wght.ttf) format("truetype");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Cairo", sans-serif; }
.full-width-table {
  width: 100%;

 table{


 }
}
::ng-deep{
  th{
    font-family: Cairo !important;
    font-weight: bold !important;
    background-color: #3f51b5 !important;
    color: #fff !important;
  }
  td{
    font-family: Cairo !important;
    font-weight: bold;
  }



}
.mat-calendar-header{
  background-color: #3f51b5 !important;
  color: #fff;
  .mat-calendar-previous-button{
    color: #fff;

  }
  .mat-calendar-next-button{
    color: #fff;

  }
}


  .mat-mdc-option{
    span{
      color: #000 !important;

    }


  }
  .mat-mdc-option:hover{
    background-color: #3f51b5 !important;
    transition: .6s ease-in-out;
   span{
    color: #fff !important;
   }
  }
  mat-select{
      span{
        color: #000 !important;
      }

  }

  .close{
    position: absolute;
  top: 0px;
  right: 0;
  }

  mat-card-header{
    top: 0;
    background-color: #3f51b5;
    padding: 10px;
  }
  mat-card-content{
    padding: 30px !important;
  text-align: center;
    mat-form-field{

      width: 90%;
    }
  }
