
<div class="header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle >
  <button mat-mini-fab color="primary" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
<div class="title">تنفيذ أستقطاع</div>

</div>
<div>

  <mat-divider></mat-divider>
<div class="order-container">

  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
   <div class="order-data">


    <mat-form-field  appearance="fill">
      <mat-label  style="font-family: Cairo;"> المبلغ  </mat-label>
      <input type="number"  matInput formControlName="amount" >
    </mat-form-field>
    <!-- <mat-form-field  appearance="fill">
      <mat-label  style="font-family: Cairo;"> البيان  </mat-label>
      <textarea matInput formControlName="details"  ></textarea>
    </mat-form-field> -->




    <!-- <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="endAt">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 color="accent" ></mat-datepicker>
    </mat-form-field> -->


    <button mat-raised-button  [disabled]="orderForm.invalid" color="primary">Save</button>
   </div>
  </form>

</div>
</div>
