
<div class="header">
  <button mat-mini-fab color="primary" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
<div class="title">اضافة موظف</div>

</div>
<div>

  <mat-card >

    <mat-card-header >

    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <mat-form-field appearance="fill">
            <mat-label>رقم 55</mat-label>
            <input matInput formControlName="fileNumber55">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>بيان الاستمارة</mat-label>
            <textarea matInput formControlName="details"></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Month and Year</mat-label>
            <input matInput [matDatepicker]="dp" formControlName="formDate" #date>
            <mat-hint>MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, dp)"
                            panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>



          <mat-form-field appearance="fill">
            <mat-label>رقم 224</mat-label>
            <input matInput formControlName="fileNumber224">
          </mat-form-field>


<div style="display: flex; justify-content: center;">


  <button type="submit" [disabled]="form.value.tabCode ===''&&form.value.tegaraCode ===''"  mat-raised-button color="primary">بحث

    <mat-icon>search</mat-icon>
    </button>

</div>



          </form>

    </mat-card-content>

  </mat-card>
