<div style="padding: 20px;">


<div style="display: flex; justify-content: space-between;">
  <div>
  <button color="primary" mat-flat-button [matMenuTriggerFor]="menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu color="primary"  #menu="matMenu" style="background-color: #7c4dff !important;">
    <button  color="primary"  mat-menu-item >بيانات الاجر الوظيفى</button>
    <button  color="primary"  mat-menu-item> بيانات الاجر المكمل</button>
    <button  color="primary"  mat-menu-item (click)="openPartTimeHistoryDialog()"> جزء من الوقت</button>
    <button  color="primary"  mat-menu-item (click)="openPartTimeDialog()">جزء من الوقت</button>
  </mat-menu>



    <mat-form-field appearance="fill">
      <mat-label>من تاريخ </mat-label>
      <input matInput [matDatepicker]="picker" [value]="selectedDate" (dateChange)="dateChange($event)">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
<div style="color: red;font-size: 16px; font-weight: bold;" *ngIf="employee?.employeeInPartTime===true">
  يعمل جزء من الوقت
</div>
<div  style="color: green;font-size: 16px; font-weight: bold;" *ngIf="employee?.employeeInPartTime===false">
  يعمل وقت كامل
</div>
</div>
  <div class="" style="display: flex; padding: 30px;justify-content: space-between;">

    <!-- <div> الاجر الاساسى :  {{employeeBasicSallary?.basicSallary}} </div> -->

  <div  >
    <button color="primary" mat-icon-button (click)="getFincicialData(1000)">
    <mat-icon>settings</mat-icon>
  </button>
  الاجر الوظيفى :  {{employeeBasicSallary?.wazifi}}

</div>

  <div >
    <button color="primary"mat-icon-button (click)="getFincicialData(2000)">
      <mat-icon>settings</mat-icon>
    </button>

    الاجر المكمل :  {{employeeBasicSallary?.mokamel}}

  </div>

  <div >

    <button color="primary" mat-icon-button (click)="getFincicialData(4000)">
      <mat-icon>settings</mat-icon>
    </button>

    حافز تعويضى :  {{employeeBasicSallary?.taawidi}}

  </div>

  <div >

    <button color="primary" mat-icon-button (click)="getFincicialData(3000)">
      <mat-icon>settings</mat-icon>
    </button>

    اجمالى الاجر:

  </div>
  </div>



</div>

<table mat-table [dataSource]="employeeOrderDeductions?.employeeOrdersDtos" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
  </th>
    <td mat-cell *matCellDef="let element">
      <button color="primary" mat-flat-button  *ngIf="editable" (click)="openPayDeductionDialog(element.orderId)">
        استقطاع
        <mat-icon>add</mat-icon>
      </button>
      <button color="accent" mat-raised-button (click)="openDialog(element.orderId)">تفاصيل</button></td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="order">
    <th mat-header-cell *matHeaderCellDef> اجمالى اوامر الخصم </th>
    <td mat-cell *matCellDef="let element">


      {{element.orderName}}

    </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="orderAmount">
    <th mat-header-cell *matHeaderCellDef> اجمالى اوامر الخصم </th>
    <td mat-cell *matCellDef="let element">


   {{element.orderTotal}}

    </td>
  </ng-container>
  <ng-container matColumnDef="deductionAmount">
    <th mat-header-cell *matHeaderCellDef> اجمالى ما تم استقطاعه </th>
    <td mat-cell *matCellDef="let element">


        {{element.deductionTotal}}



    </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="net">
    <th mat-header-cell *matHeaderCellDef> الصافى </th>
    <td mat-cell *matCellDef="let element">
      <div [ngClass]="element.net <=0 ?'success': 'fail'">  {{element.net}} </div>


    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['actions','order','orderAmount','deductionAmount','net']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['actions','order','orderAmount','deductionAmount','net'];"></tr>
</table>
