<button  color="primary" mat-raised-button [matMenuTriggerFor]="menu">
  اضافة
  <mat-icon>settings</mat-icon>
</button>
<mat-menu color="primary" #menu="matMenu">
  <button color="primary"  mat-menu-item  (click)="openEmployeeOrderDialog()" >  اضافة خصم  <mat-icon>receipt_long</mat-icon></button>
  <button color="primary"  mat-menu-item (click)="openEmployeeVacationDialog()">  اضافه اجازة <mat-icon>sunny</mat-icon></button>
</mat-menu>

<div class="mat-elevation-z8">

  <table mat-table class="full-width-table" matSort aria-label="Elements" fixedLayout="true" >
    <!-- Id Column-->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef ></th>
      <td mat-cell *matCellDef="let row">
<div style="display: flex;">

  <!-- <button matRipple mat-mini-fab color="primary" aria-label="Example icon button with a home icon" routerLink="/employee/details/{{row.id}}">
    <mat-icon>manage_accounts</mat-icon>
  </button> -->

  <button matRipple mat-mini-fab  color="warn" aria-label="Example icon button with a home icon" (click)="deleteOrderDetails(row)">
    <mat-icon>no_accounts</mat-icon>
  </button>
</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="tabCode">
      <th mat-header-cell *matHeaderCellDef >
        <app-table-search-box [param]="ordersParam"
        [elementName]="'tabCode'"
        [sort]="true"
        [label]="' كود طب'"
        (clearEvent)="clearSerach($event)"
        (sortEvent)="sortData($event)"
        (searchEvent)="searchBox($event)">
       </app-table-search-box>
      </th>
      <td mat-cell *matCellDef="let row">{{row.tabCode}}</td>
    </ng-container>
    <ng-container matColumnDef="tegaraCode">
      <th mat-header-cell *matHeaderCellDef >
        <app-table-search-box [param]="ordersParam"
        [elementName]="'tegaraCode'"
        [sort]="true"
        [label]="' كود تجارة'"
        (clearEvent)="clearSerach($event)"
        (sortEvent)="sortData($event)"
        (searchEvent)="searchBox($event)">
       </app-table-search-box>
      </th>
      <td mat-cell *matCellDef="let row">{{row.tegaraCode}}</td>
    </ng-container>
    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef >
        <app-table-search-box
        [param]="ordersParam"
        [elementName]="'employeeName'"
        [sort]="true"
        [label]="'اسم الموطف'"
        (clearEvent)="clearSerach($event)"
        (sortEvent)="sortData($event)"
        (searchEvent)="searchBox($event)">
       </app-table-search-box>
      </th>
      <td mat-cell *matCellDef="let row">{{row.employeeName}}</td>
    </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="orderName">
          <th mat-header-cell *matHeaderCellDef >
            <app-table-search-box
            [param]="ordersParam"
            [elementName]="'orderName'"
            [sort]="true"
            [label]="'نوع الامر'"
            (clearEvent)="clearSerach($event)"
            (sortEvent)="sortData($event)"
            (searchEvent)="searchBox($event)">
           </app-table-search-box>
           </th>
          <td mat-cell *matCellDef="let row">{{row.orderName}}</td>
        </ng-container>
                <!-- Name
                <ng-container matColumnDef="details">
                  <th mat-header-cell *matHeaderCellDef >
                    <app-table-search-box
                    [param]="ordersParam"
                    [elementName]="'details'"
                    [sort]="true"
                    [label]="' البيان'"
                    (clearEvent)="clearSerach($event)"
                    (sortEvent)="sortData($event)"
                    (searchEvent)="searchBox($event)">
                   </app-table-search-box>
                   </th>
                  <td mat-cell *matCellDef="let row">{{row.details}}</td>
                </ng-container>Column -->
       <!-- Name Column -->
       <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>
                            <app-table-search-box
                            [param]="ordersParam"
                            [elementName]="'quantity'"
                            [sort]="true"
                            [label]="'الكميه'"
                            (clearEvent)="clearSerach($event)"
                            (sortEvent)="sortData($event)"
                            (searchEvent)="searchBox($event)">
                               </app-table-search-box>

        </th>
        <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
      </ng-container>
      <!-- <ng-container matColumnDef="startFrom">
        <th mat-header-cell *matHeaderCellDef>
                            <app-table-search-box [param]="ordersParam"
                            [elementName]="'startFrom'"
                            [sort]="true"
                            [label]="'الدرجه'"
                            (clearEvent)="clearSerach($event)"
                            (sortEvent)="sortData($event)"
                            (searchEvent)="searchBox($event)">
                               </app-table-search-box>

        </th>
        <td mat-cell *matCellDef="let row">{{row.startFrom|date}}</td>
      </ng-container>

      <ng-container matColumnDef="endAt">
        <th mat-header-cell *matHeaderCellDef>
                            <app-table-search-box [param]="ordersParam"
                            [elementName]="'endAt'"
                            [sort]="true"
                            [label]="'الدرجه'"
                            (clearEvent)="clearSerach($event)"
                            (sortEvent)="sortData($event)"
                            (searchEvent)="searchBox($event)">
                               </app-table-search-box>

        </th>
        <td mat-cell *matCellDef="let row">{{row.endAt |date}}</td>
      </ng-container>-->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>
                            <!-- <app-table-search-box
                            [param]="ordersParam"
                            [elementName]="'amount'"
                            [sort]="true"
                            [label]="'الدرجه'"
                            (clearEvent)="clearSerach($event)"
                            (sortEvent)="sortData($event)"
                            (searchEvent)="searchBox($event)">
                               </app-table-search-box> -->
المبلغ
        </th>
        <td mat-cell *matCellDef="let row">{{row.amount}}</td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  [matRippleRadius]="25"   *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
     (page)="handlePageEvent($event)"
      [length]="ordersParam?.length"
      [pageIndex]="ordersParam?.pageIndex"
      [pageSize]="ordersParam?.pageSize"

      aria-label="Select page">
  </mat-paginator>
</div>
